.m-container {
    .visual-wrapper {
        height: 1000px;
        position: relative;

        & > .text-box {
            position: absolute;
            top: 50%;
            left: 170px;
            z-index: 99;
            transform: translateY(-70%);

            p {
                font-family: 'NexonGothicRegular';
                font-size: 50px;
                color: white;

                &:last-of-type {
                    font-family: 'NexonGothicBold';
                    margin-top: 30px;
                }
            }
        }
        & > img {
            width: 100%;
            position: absolute;
            bottom: -1px;
            z-index: 99;
        }
        & > .swiper {
            height: 100%;
        }
    }//visual-wrapper

    .sec01 {
        height: 555px;
        padding: 0px 270px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;

        & > .item {
            width: 400px;
            height: 300px;
            padding: 60px 0px 0px 40px;
            box-sizing: border-box;
            background-color: #c7d78e;
            border-radius: 25px;
            position: relative;

            .category {
                color: white;
                font-family: 'NexonGothicLight';
                font-size: 20px;
            }
            .title {
                color: white;
                font-family: 'NexonGothicMedium';
                font-size: 35px;
                margin-top: 14px;
            }
            img {
                position: absolute;
                right: 0px;
                bottom: 0px;
            }
        }
    }//sec01

    .sec02{
        height: 450px;
        background-color: #ffefbe;
        padding: 105px 0px 0px 134px;
        box-sizing: border-box;
        position: relative;
        
        & > .text{
            font-family: 'NexonGothicRegular';
            font-size: 30px;
            color: #cda053;
        }
        & > .title{
            font-family: 'NexonGothicBold';
            font-size: 50px;
            color: #835b17;
            margin-top: 25px;
            margin-bottom: 90px;
        }
        & > a{
            width: 180px;
            height: 50px;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            background-color: #835b17;
            color: white;
            font-family: 'NexonGothicRegular';
            font-size: 24px;
            .bx{
                font-size: 12px;
            }
        }
        & > img{
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }//sec02

    .sec03{
        padding: 140px 0px;
        box-sizing: border-box;

        & > .inner{
            width: 1380px;
            height: 100%;
            margin: 0px auto;
            position: relative;

            .title-box{
                display: flex;
                justify-content: center;
                align-items: end;
                margin-bottom: 70px;
    
                .title{
                    font-family: 'NexonGothicBold';
                    font-size: 48px;
                    color: #222222;
                }
    
                & > a{
                    position: absolute;
                    right: 0px;
                    font-family: 'NexonGothicLight';
                    font-size: 20px;
                    color: #222222;
    
                    & > i{
                        position: relative;
                        bottom: -3px;
                        font-size: 22px;
                        margin-left: 6px;
                    }
                }
            }

            .item{
                width: 330px;
                height: 440px;
                position: relative;

                .category{
                    width: 110px;
                    height: 30px;
                    border-radius: 15px;
                    background-color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 175px;
                    left: 25px;
                    color: #222222;
                    font-family: 'NexonGothicRegular';
                    font-size: 18px;
                }
                .img-box{
                    width: 100%;
                    height: 190px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;

                    img{
                        width: 100%;
                    }
                }
                .text-box{
                    width: 100%;
                    height: 250px;
                    background-color: #dfdfdf;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    padding: 40px 25px 75px;
                    box-sizing: border-box;

                    .title{
                        font-family: 'NexonGothicMedium';
                        font-size: 28px;
                        color: #222222;
                        margin-bottom: 15px;
                    }
                    .text{
                        font-family: 'NexonGothicRegular';
                        font-size: 18px;
                        color: #222222;
                        line-height: 1.5;
                    }
                }
                a{
                    font-family: 'NexonGothicRegular';
                    font-size: 18px;
                    color: #222222;
                    position: absolute;
                    bottom: 30px;
                    right: 25px;

                    i{
                        font-size: 12px;
                        margin-left: 4px;
                    }
                }
            }

            .swiper-button-prev,
            .swiper-button-next{
                color: gray;
            }

            .swiper-button-prev{
                position: absolute;
                top: 60%;
                left: -120px;
            }
    
            .swiper-button-next{
                position: absolute;
                top: 60%;
                right: -120px;
            }
            
        }


    }//sec03

    .sec04{
        // height: 500px;
        position: relative;

        .sec04-bg{
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .text{
            font-family: 'Cafe24SsurroundAir';
            font-size: 38px;
            color: white;
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -65%);

            span{
                font-family: 'Cafe24Ssurround';
                margin-left: 10px;
            }
        }
        .sec04-item{
            width: 100%;

        }
    }//sec04

//health--------------------------    
    .category-slide-wrapper{
        & > .category-slide{
            width: 100%;
            height: 800px;
            margin-bottom: 70px;
            position: relative;
    
            //슬라이드 배경색
            .head{
                background-color: #d9e7a8;
            }
            .body{
                background-color: #bfdef1;
            }
            .leg{
                background-color: #e4d7ec;
            }
    
            //슬라이드 공통
            .item{
                position: relative;
                padding: 0px 270px;
                box-sizing: border-box;
                .text-box{
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    position: absolute;
                    top: 38%;
    
                    & > .text{
                        font-family: 'NexonGothicRegular';
                        font-size: 40px;
                        color: white;
                    }
                    & > .title{
                        font-family: 'NexonGothicBold';
                        font-size: 70px;
                        color: white;
                        margin-bottom: 85px;
                    }
                    .link-btn{
                        width: 180px;
                        height: 50px;
                        border-radius: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        background-color: white;
                        color: #797979;
                        font-family: 'NexonGothicRegular';
                        font-size: 24px;
                        .bx{
                            font-size: 14px;
                        }
                    }
                }
                img{
                    position: absolute;
                    right: 270px;
                    bottom: 0px;
                }
            }
    
            //슬라이드 버튼
            .swiper-button-prev{
                color: rgba(255, 255, 255, 0.8);
                position: absolute;
                top: 54%;
                left: 90px;
                z-index: 99;
            }
            .swiper-button-next{
                color: rgba(255, 255, 255, 0.8);
                position: absolute;
                top: 54%;
                right: 90px;
                z-index: 99;
            }
        }
    }//category-slide-wrapper

    .content-wrapper{
        padding: 50px 180px 150px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        gap: 60px 5%;
    
        .content-box{
            display: block;
            width: 30%;
            height: 380px;
    
            &:hover .img-box img{
                transform: scale(1.1);
            }
    
            .img-box{
                width: 100%;
                height: 300px;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 16px;
    
                & > img{
                    width: 100%;
                    transition: 0.5s;
                }
            }
    
            .text-box{
                .category-box{
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
    
                    & > p{
                        font-family: 'NexonGothicMedium';
                        font-size: 18px;
                        color: #555555;
                    }
    
                    .keyword{
                        color: #b2b2b2;
                        margin-left: 16px;
                        position: relative;
                        &:before{
                            content: "";
                            display: block;
                            width: 1px;
                            height: 14px;
                            background-color: #b2b2b2;
                            position: absolute;
                            top: 1px;
                            left: -8px;
                        }
                    }
                }
    
                & > .title{
                    font-family: 'NexonGothicBold';
                    font-size: 26px;
                    line-height: 1.15;
                    color: #111111;
                }
            }
        }
    }//content-wrapper

    .category-wrapper{
        padding-top: 110px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 50px;

        & > a{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 40px;
            border: solid 1px #c7d78e;
            border-radius: 50px;
            transition: 0.5s;
            font-family: 'NexonGothicMedium';
            font-size: 18px;
            color: #a0af6a;

            &:hover{
                color: white;
                background-color: #c7d78e;
            }
        }

        .select{
            color: white;
            background-color: #c7d78e;
        }
    }//category-wrapper

    .post-wrapper{
        padding: 110px 360px 150px;
        box-sizing: border-box;
    
        .breadcrumb{
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 100px;
    
            & > a, p{
                font-family: 'NexonGothicLight';
                font-weight: 900;
                font-size: 18px;
                color: #d1d1d1;
                margin-top: 2px;
    
                .bx{
                    font-size: 18px;
                    vertical-align: text-top;
                    margin-right: 3px;
                }
            }
            i{
                font-size: 22px;
                color: #d1d1d1;
            }
    
            
        }
    
        .title-box{
            margin-bottom: 65px;
            .title{
                font-family: 'NexonGothicBold';
                font-size: 50px;
                color: #222222;
                margin: 35px 0px 15px;
            }
            .date{
                font-family: 'NexonGothicMedium';
                font-size: 20px;
                color: #747474;
            }
        }
    
        img{
            width: 100%;
            margin-bottom: 65px;
        }
    
        .text-box{
            margin-bottom: 50px;
    
            & > .title{
                font-family: 'NexonGothicBold';
                font-size: 32px;
                color: #b0c36d;
                margin-bottom: 14px;
            }
    
            & > .text{
                font-family: 'NexonGothicLight';
                font-weight: 900;
                font-size: 22px;
                color: #333333;
                line-height: 1.4;
            }
        }
    
        .source{
            font-family: 'NexonGothicRegular';
            font-size: 20px;
            color: #9f9f9f;
        }
    }

    .random-post-wrapper{
        width: 100%;
        background-color: #ffefbe;

        .random-post{
            padding: 80px 360px;
            box-sizing: border-box;

            & > .title{
                font-family: 'NexonGothicMedium';
                font-size: 30px;
                color: #835b17;
                margin-bottom: 35px;
            }

            .random-post-box{
                display: flex;
                justify-content: space-between;
                .random-post{
                    width: 280px;
                    .img-box{
                        width: 100%;
                        height: 180px;
                        border-radius: 10px;
                        overflow: hidden;
                        box-sizing: border-box;

                        &:hover img{
                            transform: scale(1.1);
                        }

                        & > img{
                            width: 100%;
                            transition: 0.5s;
                        }
                    }

                    .post-title{
                        font-family: 'NexonGothicMedium';
                        font-size: 22px;
                        color: #cda053;
                        margin-top: 14px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }    
}