.h-container {
    max-width: 1920px;
    width: 100%;
    height: 110px;
    padding: 0px 60px;
    box-sizing: border-box;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

    .header-left {
        display: flex;
        align-items: center;
        gap: 95px;

        nav {
            .gnb {
                display: flex;
                gap: 80px;

                li {
                    a {
                        font-family: 'NexonGothicMedium';
                        font-size: 25px;
                        color: white;
                    }
                }
            }
        }
    }

    .header-right{
        a{
            .write{
                font-size: 28px;
                color: white;
            }
            .login{
                font-size: 28px;
                color: white;
                margin-left: 10px;
            }
        }
    }
}